<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48030854463-bqtjv6qh4nh607lt3j7pmlkik4d7a1a3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48030854463-bqtjv6qh4nh607lt3j7pmlkik4d7a1a3</string>
	<key>API_KEY</key>
	<string>AIzaSyCr4iYQWtb279m3u3FUOMDM5ueV3hOBoO0</string>
	<key>GCM_SENDER_ID</key>
	<string>48030854463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MePrest.App</string>
	<key>PROJECT_ID</key>
	<string>atlas-23079</string>
	<key>STORAGE_BUCKET</key>
	<string>atlas-23079.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48030854463:ios:1f6099ae1d033eb811b78a</string>
</dict>
</plist>